body{
    background-color: black;
    margin: auto;
}

.main-catalogue{
    background-color: aliceblue;
    padding: 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}






